/* retocando colores defualt de bootstrap */

$info: #fff7fe

@import "../node_modules/bootstrap/scss/bootstrap"

/* colores */
$negrol: #0c0c0c
$azulMarino: #1a2224
$azulMarinoOpac: #061e25d5
$negrolazulado: #110920
$grisOscuro: #313131da
$gris: #6d6b6bd3

/* gradiantes */

$mezcla1: $grisOscuro, $azulMarino, $grisOscuro

$mezcla2: $grisOscuro, $azulMarinoOpac, $gris

$mezcla3: $grisOscuro 0%,$grisOscuro 10%,$negrolazulado 25%,$negrolazulado 39%,$grisOscuro 79%,$grisOscuro 100%

$mezcla4: $azulMarino, $gris, $negrol, $azulMarino, $gris, $negrol, $azulMarino, $gris, $negrol

$mezcla5: $negrol 0%,$negrol 10%,$negrolazulado 25%,$negrolazulado 39%,$azulMarino 79%,$azulMarino 100%

@mixin gradient($direction, $list)
    background: -webkit-linear-gradient($direction, $list)
    background: -moz-linear-gradient($direction, $list)
    background: -o-linear-gradient($direction, $list)
    background: linear-gradient($direction, $list)

body
    display: flex
    flex-direction: column
    margin: 0
    padding: 0
    background-color: beige
    width: 100vw
    overflow-x: hidden
    height: 100vh
    min-height: 100vh
    position: relative

    #dAnyadirLoc

        height: 100%
        backdrop-filter: blur(6px)
        z-index: 314159

        #dMensajeAL

            height: 250px
            width: 400px
            background-color: #f0ecec

    #header

        @include gradient(left, $mezcla2)

    #section

        flex-grow: 1

        #c-Visib

            background-color: black
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.65)

            #bVisib

        #c-mapa

            @include gradient(top, $mezcla5)
            box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.50)

            #c-filtros

                padding: 0

            #drop-filtros

                #filtros

                    background: none
                    border: 2px solid #464343
                    background-color: #ffffff7c
                    color: black

                #m-filtros

                    border: 1px solid #464343ad
                    background-color: #ffffffbd
                    color: black
                    width: 100%

            #map

                height: 25rem
                position: relative !important

        #dTextDrag

        #cDragZone

            #caja-parametros

                img
                    z-index: 99
                    height: fit-content

                #iTemperatura

                    width: auto
                    height: 50px !important

                #iHumedad

                    width: auto
                    height: 50px !important

                #iViento

                    width: auto
                    height: 50px !important

            #c-loc-activas

                padding: 0

                #dMaxBalizas

                    .controlLoc
                        width: 30px

            #lista-loc-activas

                max-height: 100px
                overflow-y: auto
                overflow-x: hidden

                .dropdown-item:active
                    background-color: gray

            #fichas-tiempo

                width: 100%

                margin: 0 auto

                .c-baliza
                    padding: 0
                    width: 18rem
                    height: fit-content

                    .iEstado

                        width: 100px
                        height: auto

                    .cITemperatura

                        width: auto
                        height: 20px

                    .cIHumedad

                        width: auto
                        height: 20px
                        padding-right: 10px

                    .cIViento

                        width: auto
                        height: 20px

                    .sHumedad
                        margin-left: 3.5px

                    .sViento
                        margin-left: 1px
                    
                    

    #footer

        @include gradient(left, $mezcla1)
